<%= form_for([@post, @comment ||= Comment.new], html: {class: "c-comments-form"}) do |f| %>
  <%= render 'shared/errors', object: @comment %>
  <div>
    <%= f.text_area :body, rows: 5, class: "c-comments-form__text-area", placeholder: "Your Comment in here. Markdown is supported" %>
  </div>
  <div>
    <%= f.submit "Add Comment", class: "c-comments-form__submit-btn", data: { field: "create-comment"} %>
  <div>
<% end %>

