$light-gray:        #f7f7f9;
$text-color-blue:         #1976D2;
$light-blue:        #2196F3;
$extra-light-blue:  #BBDEFB;
$text-color-light:  #ffffff;
$text-color-dark:   #212121;
$text-color-gray:   #757575;
$text-color-green:  #28a745;
$text-color-red:    #dc3545;
$card-color:        #ffffff;