.l-posts-container {
  display: grid;
  grid-gap: 0.0625em;
  grid-auto-rows: 25.625em;
}

@media (max-width: 48em) {
  .l-posts-container {
    grid-template-columns: repeat(1fr);
    grid-auto-rows: 26.875em;
  }
}

@media (min-width: 48em) {
  .l-posts-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 75em) {
  .l-posts-container {
    grid-template-columns: repeat(3, 1fr);
  }
}