* {
  margin : 0;
  padding : 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 0.625rem;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}