:root {
  --text-color-light:  #ffffff;
  --text-color-blue:   #0080ff;
  --color-light-blue:  #2196F3;
  --text-color-white:  #ffffff;
  --text-color-dark:   #212121;
  --text-color-gray:   #585858;
  --text-color-green:  #28a745;
  --text-color-red:    #dc3545;
  --card-color:        #f3f3f3;
  --color-pink-light:#FF3366;
  --color-pink-dark: #BA265D;
  --color-dark-blue:  #223047;

  --dark-shadow: 0 2rem 6rem rgba(0,0,0,.3);
}