<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to 'TBlog', posts_path, class: "navbar-brand", data: { menu: "logo" } %>
    <button class="navbar-toggler" data-toggle="collapse" type="button" data-target="#navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Manage Posts', admin_posts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Create Post', new_admin_post_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Subscribers List', admin_subscribers_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
