.home {
  &__content {
    color:#FFF;
    background: image-url("homebg2.jpg");
    background-size: cover;
    background-origin: 0 60%;
  }

  &__header {
    font-weight: bold;
    font-size: 2.0em;
  }
}