<h4>Click the link below to subscribe for Email notifications</h4>


<% if @subscriber %>
  <div>
    <%= link_to 'UnSubscribe', subscriber_path(@subscriber), method: :delete %>
  </div>
<% else %>
  <div>
    <%= link_to 'Subscribe', subscribers_path, method: :post %>
  </div>
<% end %>

