<% provide(:page_title, 'All Posts') %>

<% @posts.each do |post| %>
  <div><%= post.created_at.strftime("%b %d, %Y") %></div>
  <div>Title: <%= link_to post.title, post_path(post), data: { post: "title" } %></div>
  <div><%= post.body %></div>
<% end %>
