<%= render 'shared/post_show_page' %>
<% if logged_in %>
  <%= render 'comments/form' %>
  <%= render 'comments/comment' %>
<% else %>
  <div> You will need to be logged on in order to leave comments </div>
<% end %>