.c-footer {
  background-color: var(--color-dark-blue);
  position: relative;
  height: 8.25em;
  margin-top: -4.25em;
  clear: both;

  &__text {
    text-align: center;
    color: white;
    font-size: 1.5rem;
  }
}