.c-header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-image: image-url("pexels-photo-6.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  &__content {
    bottom: 3rem;
    padding: 1.5rem;
    width: 100%;
    font-size: 1.15rem;
    position: absolute;
  }

  &__title {
    margin: 0 0 1.25rem;
    font-weight: 900;
    font-size: 5rem;
    line-height: 1;
    font-family: 'Playfair Display', serif;
  }

  &__subtitle {
    display: flex;
    align-items: center;
  }

  &__description {
    margin: 0 auto 0 1rem;
    line-height: 1.2;
  }
}


@media screen and (max-width: 720px) {
  .c-header {
    &__content {
      font-size: 0.85rem;
    }
  }
}

@media screen and (max-width: 540px) {
  .c-header {
    &__title {
      font-size: 2rem;
    }
  }
}
