.c-links {
  margin-top: 0.5rem;

  &__item {
    display: inline-block;
    margin: 0 1rem 0 0;
    padding: 0.2rem 0;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0.125rem;
    font-size: 0.75rem;

    &--current {
      border-color: initial;
      border-bottom: 0.125rem solid var(--link-colour);
    }
  }
}

@media screen and (max-width: 540px) {
  .c-links__item {
    margin-bottom: 1.5rem;
  }
}