.c-posts-table {
  border: 3px solid var(--color-dark-blue);
  max-width: 100%;
  padding: 0.825em;
  table-layout: fixed;
  text-align: left;
  margin: auto;

  &__head--title {
    width: 30%;
    font-size: 1.25rem;

  }
  &__head--date-posted {
    width: 25%;
    font-size: 1.25rem;
  }

  &__head--author {
    width: 25%;
    font-size: 1.25rem;
  }
}