.c-post {
  box-shadow: var(--dark-shadow);
  background: var(--card-color);
  text-align: center;
  margin: 8px;

  &__image {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    padding: 10px;
  }

  &__title {
    margin-bottom: 0;
    text-align: center;
    a {
      color: var(--color-dark-blue);
    }
  }

  &__date-published {
    color:var(--color-pink-light);
    text-align: left;
    margin-top: 3.0px;
    margin-bottom: 3.0px;;
  }
  &__description {
    text-align: justify;
    margin: 7px;
  }
}