.c-show-post {
  margin: 0.8rem;
  text-align: justify;
  padding: 1rem;
  h1::first-letter {
    text-transform: uppercase;
  }


  &__title {
    color: var(--link-colour);
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.125rem;
    font-weight: bold;
  }

  &__created-at, &__comments-notifier {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-weight: bold;

  }

  &__body {
    font-size: 1.0rem;
    font-weight: normal;
    line-height: 1.7rem;

    p::first-letter {
      text-transform: uppercase;
    }
  }
}


@media only screen and (min-width: 720px) {
  .c-show-post {
    padding-left: 5rem;
    padding-right: 5rem;
    &__title {
      font-size: 1.8rem;
    }

    &__body {
      line-height: 2.4rem;
    }
  }
}


@media only screen and (min-width: 960px) {
  .c-show-post {
    padding-left: 6rem;
    padding-right: 6rem;

    &__title {
      font-size: 2.0rem;
    }

    &__body {
      line-height: 2.4rem;
    }
  }
}