@mixin post-component {
  .heading {
    text-align: center;
  }

  .admin-posts-table {
    a {
      text-decoration: none;
    }
  }

  .card {
    border: none;
    border-radius: 0;
    height: 400px;
    margin-bottom: 20px;
    background-color: white;

    &__card-top {
      height: 200px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }

    &__card-block {
      padding: 10px;
    }

    &__card-title {
      font-size: 1.3rem;
      margin-bottom: 0;
      color: black;
      text-align: center;
      text-decoration-line: none;
      a {
        text-decoration: none;
      }
    }

    &__date-published {
      font-size: 0.8rem;
      color:$green;
      font-weight: 300;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }

    &__card-text {
      font-size: 0.9rem;
      color: black;
    }
  }
}