.posts-index {
  @include post-component;
}

.posts-show {
  @include author-component;
}

.users-show {
  @include post-component;
  @include author-component;
}

.users-index {
  @include user-component;
}

.users-new, .users-edit {
  .heading {
    text-align: center;
  }
}


@media screen and (min-width: 34em) {
  .posts-index .card {
    height: 440px;
  }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
  .posts-index .card {
    height: 420px;
  }
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {
  .posts-index .card {
    height: 415px;
  }
}