.postsIndex {
  @include postLayout;
}

.postsShow {
  @include authorLayout;
}

.usersShow {
  @include postLayout;
  @include authorLayout;
}

.usersIndex {
  @include userLayout;
}

.usersNew, .usersEdit{
  @include pageHeaders;
}



@media screen and (min-width: 34em) {
  .postsIndex .card {
    height: 440px;
  }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
  .postsIndex .card {
    height: 420px;
  }
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {
  .postsIndex .card {
    height: 415px;
  }
}