<tr class="adminUsersPage">
  <td>
    <%= link_to(user) do %>
      <%= user.username %>
    <% end %>
  </td>
  <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-sm btn-warning' %></td>
  <td>
    <%= link_to 'Remove', admin_user_path(user), method: :delete,
    data: { confirm: 'Are you sure you want to delete this user and all associated posts?'}, class: 'btn btn-sm btn-danger' %>
  </td>
<tr>