<div class="">
  <div class="">
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %>">
        <a href='#' class="close" data-dismiss="alert">&#215;</a>
        <%= message %>
      </div>
    <% end %>
  </div>
</div>



